<li>
    {{name}}

    <button class="change-devoured" data-id="{{id}}" data-newdevour="{{devour}}">
        {{burgerName}} {{#if devour}}Devour it!{{else}}Devoured!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>