<li>

    <span id="burgerList"> {{burger_name}} </span>
    <button class="devour-burger" data-id="{{id}}" data-newdevour="{{devoured}}">
        {{#if devoured}}Devour!{{else}}Craving!{{/if}}

    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE</button>
</li>
{{!-- <span class="material-icons-outlined">
    delete
</span> --}}