<li>
    {{name}}

    <button class="devour-burger" data-id="{{id}}" data-newdevour="{{devoured}}">
        {{burger_name}} {{#if devoured}} - Want to devour!{{else}} - Craving! {{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE</button>
</li>